// Place all the styles related to the register controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
body{
  background-image: url("/assets/header-bg.png");
  margin-top:80px;
}
.div1{
  margin-top:30px;
}
.div1.container2{
  display: block;
  color: #fff;
  font-size: 20px;
}