<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="shortcut icon" href="/assets/images/fav.png">
  <%= stylesheet_link_tag   'sessions' %>
  <%= javascript_include_tag   'application' %>
</head>
<body>
<%=yield %>
</body>
</html>